<!-- Extend base.html file -->
{% extends "poems/base.html" %}

<!-- Title -->
{% block title %}
    Explore
{% endblock%}

<!-- Body -->
{% block main %}
<script>
    // Get ratings
    function getRatingsOnFeed(avg_user_rating, id) {

        // Get percentage
        const starPercentage = (avg_user_rating / 5) * 100;

        // Round to nearest 10
        const starPercentageRounded = `${Math.round(starPercentage / 10) * 10.11}%`;

        // Set width of stars-inner to percentage
        document.querySelector(`.${id} .stars-inner`).style.width = starPercentageRounded;
    }
</script>

<div class="row">
    <div class="col-lg-12">
        <div class="jumbotron jumbotron-write p-3">
            <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-top-rated-poems-tab" data-toggle="pill" href="#pills-top-rated-poems" role="tab" aria-controls="pills-top-rated-poems" aria-selected="true">Top Rated</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-most-popular-poems-tab" data-toggle="pill" href="#pills-most-popular-poems" role="tab" aria-controls="pills-most-popular-poems" aria-selected="false">Most Popular</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-lowest-rated-poems-tab" data-toggle="pill" href="#pills-lowest-rated-poems" role="tab" aria-controls="pills-lowest-rated-poems" aria-selected="false">Lowest Rated</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-recent-poems-tab" data-toggle="pill" href="#pills-recent-poems" role="tab" aria-controls="pills-recent-poems" aria-selected="false">Recents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-shortest-poems-tab" data-toggle="pill" href="#pills-shortest-poems" role="tab" aria-controls="pills-shortest-poems" aria-selected="false">Shortest</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-longest-poems-tab" data-toggle="pill" href="#pills-longest-poems" role="tab" aria-controls="pills-longest-poems" aria-selected="false">Longest</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-top-rated-poems" role="tabpanel" aria-labelledby="pills-top-rated-poems-tab">
        <div class="row">
            {% for poem in top_rated_poems %}
                <div class="col-lg-4 col-md-6">
                    <div class="card-deck">
                        <div class="card fade-animation">
                            <div class="card-body text-center">
                                <strong>
                                    <label class="poem-label">POEM</label>
                                    <p class="poem-title">{{ poem.title }}</p>
                                </strong>
                                <h6 style="margin-top: -10px; margin-bottom: 5px;">By: <a href="/profile/{{poem.user}}"> {{ poem.user }}</a></h6>
                                <strong style="font-size: 17.5px; color:red;">{{ poem.average_rating }}</strong><label class="posted" style="font-size: 15px;">/5.0</label>
                                
                                <div class="poem_top_rated{{poem.id}}" style="margin-top: -7px;">
                                    <div class="stars-outer" title="{{ poem.average_rating }}/5.0&#013;Total Ratings: {{ poem.total_ratings }}">
                                        <div class="stars-inner">
                                            <script>getRatingsOnFeed("{{ poem.average_rating }}", "poem_top_rated{{poem.id}}");</script>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div>
                                    <div class="posted">{{ poem.date }}</div>
                                    <label class="poem-data">{{ poem.poem|truncatechars:75 }}</label>
                                </div>
                                <hr>
                                <a href="/read/{{poem.id}}" class="btn btn-outline-red">More</a>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            {%endfor%}
        </div>
    </div>

    <div class="tab-pane fade" id="pills-most-popular-poems" role="tabpanel" aria-labelledby="pills-most-popular-poems-tab">
        <div class="row">
            {% for poem in most_popular_poems %}
                <div class="col-lg-4 col-md-6">
                    <div class="card-deck">
                        <div class="card fade-animation">
                            <div class="card-body text-center">
                                <strong>
                                    <label class="poem-label">POEM</label>
                                    <p class="poem-title">{{ poem.title }}</p>
                                </strong>
                                <h6 style="margin-top: -10px; margin-bottom: 5px;">By:<a href="/profile/{{poem.user}}"> {{ poem.user }}</a></h6>
                                <label class="posted" style="font-size: 15px;">Total Ratings: {{ poem.total_ratings }}</label>
                                <div class="poem_most_popular{{poem.id}}" style="margin-top: -7px;">
                                    <div class="stars-outer" title="{{ poem.average_rating }}/5.0&#013;Total Ratings: {{ poem.total_ratings }}">
                                        <div class="stars-inner">
                                            <script>getRatingsOnFeed("{{ poem.average_rating }}", "poem_most_popular{{poem.id}}");</script>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div>
                                    <div class="posted">{{ poem.date }}</div>
                                    <label class="poem-data">{{ poem.poem|truncatechars:75 }}</label>
                                </div>
                                <hr>
                                <a href="/read/{{poem.id}}" class="btn btn-outline-red">More</a>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            {%endfor%}
        </div>
    </div>

    <div class="tab-pane fade" id="pills-lowest-rated-poems" role="tabpanel" aria-labelledby="pills-lowest-rated-poems-tab">
        <div class="row">
            {% for poem in lowest_rated_poems %}
                <div class="col-lg-4 col-md-6">
                    <div class="card-deck">
                        <div class="card fade-animation">
                            <div class="card-body text-center">
                                <strong>
                                    <label class="poem-label">POEM</label>
                                    <p class="poem-title">{{ poem.title }}</p>
                                </strong>
                                <h6 style="margin-top: -10px; margin-bottom: 5px;">By: <a href="/profile/{{poem.user}}"> {{ poem.user }}</a></h6>
                                <strong style="font-size: 17.5px; color:red;">{{ poem.average_rating }}</strong><label class="posted" style="font-size: 15px;">/5.0</label>
                                <div class="poem_low_rated{{poem.id}}" style="margin-top: -7px;">
                                    <div class="stars-outer" title="{{ poem.average_rating }}/5.0&#013;Total Ratings: {{ poem.total_ratings }}">
                                        <div class="stars-inner">
                                            <script>getRatingsOnFeed("{{ poem.average_rating }}", "poem_low_rated{{poem.id}}");</script>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div>
                                    <div class="posted">{{ poem.date }}</div>
                                    <label class="poem-data">{{ poem.poem|truncatechars:75 }}</label>
                                </div>
                                <hr>
                                <a href="/read/{{poem.id}}" class="btn btn-outline-red">More</a>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            {%endfor%}
        </div>
    </div>

    <div class="tab-pane fade" id="pills-recent-poems" role="tabpanel" aria-labelledby="pills-recent-poems-tab">
        <div class="row">
            {% for poem in recents %}
                <div class="col-lg-4 col-md-6">
                    <div class="card-deck">
                        <div class="card fade-animation">
                            <div class="card-body text-center">
                                <strong>
                                    <label class="poem-label">POEM</label>
                                    <p class="poem-title">{{ poem.title }}</p>
                                </strong>
                                <h6 style="margin-top: -10px; margin-bottom: 5px;">By: <a href="/profile/{{poem.user}}"> {{ poem.user }}</a></h6>
                                <strong style="font-size: 17.5px; color:red;">{{ poem.average_rating }}</strong><label class="posted" style="font-size: 15px;">/5.0</label>
                                <div class="poem_recents{{poem.id}}" style="margin-top: -7px;">
                                    <div class="stars-outer" title="{{ poem.average_rating }}/5.0&#013;Total Ratings: {{ poem.total_ratings }}">
                                        <div class="stars-inner">
                                            <script>getRatingsOnFeed("{{ poem.average_rating }}", "poem_recents{{poem.id}}");</script>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div>
                                    <div class="posted">{{ poem.date }}</div>
                                    <label class="poem-data">{{ poem.poem|truncatechars:75 }}</label>
                                </div>
                                <hr>
                                <a href="/read/{{poem.id}}" class="btn btn-outline-red">More</a>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            {%endfor%}
        </div>
    </div>

    <div class="tab-pane fade" id="pills-shortest-poems" role="tabpanel" aria-labelledby="pills-shortest-poems-tab">
        <div class="row">
            {% for poem in shortest_poems %}
                <div class="col-lg-4 col-md-6">
                    <div class="card-deck">
                        <div class="card fade-animation">
                            <div class="card-body text-center">
                                <strong>
                                    <label class="poem-label">POEM</label>
                                    <p class="poem-title">{{ poem.title }}</p>
                                </strong>
                                <h6 style="margin-top: -10px; margin-bottom: 5px;">By: <a href="/profile/{{poem.user}}"> {{ poem.user }}</a></h6>
                                <strong style="font-size: 17.5px; color:red;">{{ poem.average_rating }}</strong><label class="posted" style="font-size: 15px;">/5.0</label>
                                <div class="poem_shortest{{poem.id}}" style="margin-top: -7px;">
                                    <div class="stars-outer" title="{{ poem.average_rating }}/5.0&#013;Total Ratings: {{ poem.total_ratings }}">
                                        <div class="stars-inner">
                                            <script>getRatingsOnFeed("{{ poem.average_rating }}", "poem_shortest{{poem.id}}");</script>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div>
                                    <div class="posted">{{ poem.date }}</div>
                                    <label class="poem-data">{{ poem.poem|truncatechars:75 }}</label>
                                </div>
                                <hr>
                                <a href="/read/{{poem.id}}" class="btn btn-outline-red">More</a>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            {%endfor%}
        </div>
    </div>

    <div class="tab-pane fade" id="pills-longest-poems" role="tabpanel" aria-labelledby="pills-longest-poems-tab">
        <div class="row">
            {% for poem in longest_poems %}
                <div class="col-lg-4 col-md-6">
                    <div class="card-deck">
                        <div class="card fade-animation">
                            <div class="card-body text-center">
                                <strong>
                                    <label class="poem-label">POEM</label>
                                    <p class="poem-title">{{ poem.title }}</p>
                                </strong>
                                <h6 style="margin-top: -10px; margin-bottom: 5px;">By: <a href="/profile/{{poem.user}}"> {{ poem.user }}</a></h6>
                                <strong style="font-size: 17.5px; color:red;">{{ poem.average_rating }}</strong><label class="posted" style="font-size: 15px;">/5.0</label>
                                <div class="poem_longest{{poem.id}}" style="margin-top: -7px;">
                                    <div class="stars-outer" title="{{ poem.average_rating }}/5.0&#013;Total Ratings: {{ poem.total_ratings }}">
                                        <div class="stars-inner">
                                            <script>getRatingsOnFeed("{{ poem.average_rating }}", "poem_longest{{poem.id}}");</script>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div>
                                    <div class="posted">{{ poem.date }}</div>
                                    <label class="poem-data">{{ poem.poem|truncatechars:75 }}</label>
                                </div>
                                <hr>
                                <a href="/read/{{poem.id}}" class="btn btn-outline-red">More</a>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            {%endfor%}
        </div>
    </div>
</div>
    
{% endblock %}