<!-- Extend base.html file -->
{% extends "poems/base.html" %}

<!-- Title -->
{% block title %}
    {{ poem.title }}
{% endblock%}

<!-- Body -->
{% block main %}
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-5">
            <div class="card-deck">
                <div class="card fade-animation">
                    <div class="card-body text-center">
                        <strong>
                            <label class="poem-label">POEM</label>
                            <p class="poem-title">{{ poem.title }}</p>
                        </strong>
                        <h6 style="margin-top: -10px;">By: <a href="/profile/{{poem.user}}"> {{ poem.user }}</a></h6>
                        <hr>
                        <div>
                            <label class="poem-data">{{ poem.poem }}</label>
                        </div>
                        <hr>
                        <label class="posted">Posted on: {{ poem.date }}</label>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="col-lg-3">
            <div class="card-deck">
                <div class="card fade-animation">
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col-lg-12">
                                <strong style="font-size: 20px;">Average User Rating</strong>
                                <div style="margin: -8px;">
                                    <label class="poem-label" style="font-size: 40px;"><strong>{{ poem.average_rating }}</strong></label>
                                    <span style="font-size: 30px; color: rgba(255, 0, 0, 0.5);">/5.0</span>
                                    <input type="hidden" id="avg_user_rating" value="{{ poem.average_rating }}">
                                </div>
                                <div class="stars-outer" title="{{ poem.average_rating }}/5.0&#013;Total Ratings: {{ poem.total_ratings }}">
                                    <div class="stars-inner"></div>
                                </div>
                                <br><label class="posted" style="font-size: 15px;">Total Ratings: {{ poem.total_ratings }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card-deck">
                <div class="card fade-animation">
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col-lg-12">
                                {% if not rating %}
                                    <strong style="font-size: 20px;">Rate</strong>
                                    <div style="margin-bottom: -5px; font-size: 13px;">
                                        <label class="poem-label">You cannot make any changes to your ratings later.</label>
                                    </div>
                                    <div>
                                        <label class="poem-label" style="font-size: 40px;"><strong id="my_rating">0.0</strong></label>
                                        <span style="font-size: 30px; color: rgba(255, 0, 0, 0.5);">/5.0</span>
                                    </div>
                                    <span class="fa fa-star rate" id="rate1" onclick="select_rating('rate1');" onmouseover="check('rate1');" onmouseout="uncheck('rate1');"></span>
                                    <span class="fa fa-star rate" id="rate2" onclick="select_rating('rate2');" onmouseover="check('rate2');" onmouseout="uncheck('rate2');"></span>
                                    <span class="fa fa-star rate" id="rate3" onclick="select_rating('rate3');" onmouseover="check('rate3');" onmouseout="uncheck('rate3');"></span>
                                    <span class="fa fa-star rate" id="rate4" onclick="select_rating('rate4');" onmouseover="check('rate4');" onmouseout="uncheck('rate4');"></span>
                                    <span class="fa fa-star rate" id="rate5" onclick="select_rating('rate5');" onmouseover="check('rate5');" onmouseout="uncheck('rate5');"></span>
                                    <form action="/rate" method="POST" class="mt-2">
                                        {% csrf_token %}
                                        <input type="hidden" name="rating_slected" id="rating_slected" value="0.0">
                                        <input type="hidden" name="poem_id" id="poem_id" value="{{poem.id}}">
                                        <hr>
                                        <button type="submit" class="btn btn-outline-red">Rate</button>
                                    </form>
                                    {% else %}
                                    <strong style="font-size: 20px;">Your Rating</strong>
                                    <div>
                                        <label class="poem-label" style="font-size: 40px;"><strong id="my_rating">{{ rating.rating }}</strong></label>
                                        <span style="font-size: 30px; color: rgba(255, 0, 0, 0.5);">/5.0</span>
                                    </div>
                                    {% for i in "01234" %}
                                        {% if i|add:"0" >= rating.rating %}
                                            <span class="fa fa-star unchecked"></span>
                                        {% else %}
                                            <span class="fa fa-star checked"></span>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if not review %}
            <hr>
            <div class="card-deck">
                <div class="card fade-animation">
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col-lg-12">
                                <strong style="font-size: 20px;">Review this Poem?</strong>
                                <hr>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-outline-red" data-toggle="modal" data-target="#addReviewModal">
                                    Add a Review
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <hr>
    {% if review %}
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 alert alert-light fade-animation" style="border-color: red; border-width: 0.75px;">
            <strong style="font-size: 20px;">Your Review</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="card-deck">
                <div class="card fade-animation">
                    <div class="card-body" style="display: block; text-align: left;">
                        {% if rating %}
                            <span class="fa fa-star checked" style="font-size: 19px;" title="{{rating.rating}}/5.0"></span>
                            <label class="pl-2" style="color: red;">
                                <label style="font-size: 17px; font-weight: 700;">{{rating.rating}}</label><label style="font-size: 12.5px; color: rgba(255, 0, 0, 0.7);">/5.0</label>
                            </label>
                        {% else %}
                            <span class="fa fa-star unchecked" style="font-size: 19px;" title="0.0/5.0"></span>
                            <label class="pl-2" style="color: red;">
                                    <label style="font-size: 17px; font-weight: 700;">0.0</label><label style="font-size: 12.5px; color: rgba(255, 0, 0, 0.7);">/5.0</label>
                            </label>
                        {% endif %}
                        <div style="margin-top: -10px;">
                        <h5 style="margin-bottom: 0px;"><strong>{{review.headline}}</strong></h5>
                            <label style="font-size: 15px; font-weight: bolder;"><a href="/profile/{{review.user}}">{{review.user}}</a></label>
                            <label class="pl-2" style="font-size: 12px; color: rgba(255, 0, 0, 0.7);"">{{review.date}}</label>
                        </div>
                        <div class="review">
                            {{review.review}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% endif %}
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 alert alert-light fade-animation" style="border-color: red; border-width: 0.75px;">
            <strong style="font-size: 20px;">Other User's Reviews</strong>
        </div>
    </div>
    {% if not reviews %}
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="card-deck">
                <div class="card fade-animation">
                    <div class="card-body text-center">
                        <h4>No reviews yet!</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        {% for review in reviews %}
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="card-deck">
                    <div class="card fade-animation">
                        <div class="card-body" style="display: block; text-align: left;">
                            {% for rating1 in ratings %}
                                {% if rating1.user == review.user %}
                                    {% if rating1.rating == "0.0" %}
                                    <span class="fa fa-star unchecked" style="font-size: 19px;" title="{{rating1.rating}}/5.0"></span>
                                    {% else %}
                                    <span class="fa fa-star checked" style="font-size: 19px;" title="{{rating1.rating}}/5.0"></span>
                                    {% endif %}
                                    <label class="pl-1" style="color: red;">
                                        <label style="font-size: 17px; font-weight: 700;">{{rating1.rating}}</label><label style="font-size: 12.5px; color: rgba(255, 0, 0, 0.7);">/5.0</label>
                                    </label>
                                {% endif %}
                            {% endfor %}
                            <div style="margin-top: -10px;">
                            <h5 style="margin-bottom: 0px;"><strong>{{review.headline}}</strong></h5>
                                <label style="font-size: 15px; font-weight: bolder;"><a href="/profile/{{review.user}}">{{review.user}}</a></label>
                                <label class="pl-2" style="font-size: 12px; color: rgba(255, 0, 0, 0.7);"">{{review.date}}</label>
                            </div>
                            <div class="review">
                                {{review.review}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="pagination alert alert-light">
                    <span class="step-links">
                        {% if reviews.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ reviews.previous_page_number }}">previous</a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ reviews.number }} of {{ reviews.paginator.num_pages }}.
                        </span>
                
                        {% if reviews.has_next %}
                            <a href="?page={{ reviews.next_page_number }}">next</a>
                            <a href="?page={{ reviews.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        
    {% endif %}
    <!-- Modal -->
    <div class="modal fade" id="addReviewModal" tabindex="-1" role="dialog" aria-labelledby="addReviewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addReviewModalLabel">Your Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="margin-bottom: -5px; font-size: 13px;">
                        <label class="poem-label">You cannot make any changes to your review later.</label>
                    </div>
                    <form action="/review" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="poem_id" id="poem_id" value="{{poem.id}}">
                        <div class="form-group">
                            <input type="text" name="headline" id="headline" class="form-control" placeholder="Headline for your review..." required>
                        </div>
                        <div class="form-group">
                            <textarea rows="6" name="review" id="review" placeholder="Write your review..." class="form-control" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-outline-red">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}